*{
    font-family: Handjet;
    background:bisque;
    font-size: 3rem;
    color:brown;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: underline dotted;
}
a:checked{
    color:aliceblue;
    text-decoration: line-through;
}


#heading{
    font-size: 4rem;
    font-family: 'Black Ops One';
    font-weight: normal;
    color:dimgray;
    display: flex;
    justify-content: center;
}

img{
    width:2000px;
    height:auto;
}

img:hover{
    border: darkgray dotted 8px;
}

a{
    display: flex;
    justify-content: center;
}

.soup,
.salad,
.smoothie{
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen (min-width: 4000px) {
    *{
        background-color: azure;
    }
}